.beneficiosContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: linear-gradient(141deg, #94ff7f 0%, rgba(150,255,243,1) 40%, rgb(100, 183, 255) 100%);
}

.beneficiosFlex {
    display: flex;
    justify-content: space-between;
    padding: 0 8em;
    margin-top: 4em;
}

.beneficiosImg img {
    animation: rotate 150s linear infinite;
    filter: brightness(110%) contrast(110%);
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100%   { transform: rotate(360deg); }
}
