.beneficiosContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: linear-gradient(141deg, #94ff7f 0%, #fff 60%, rgb(100, 183, 255) 100%);
}
