
.beneficiosContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: linear-gradient(141deg, #94ff7f 0%, rgba(150,255,243,1) 40%, rgb(100, 183, 255) 100%);
}

.beneficiosFlex {
    display: flex;
    justify-content: space-between;
    padding: 0 8em;
    margin-top: 4em;
}

.beneficiosImg img {
    animation: rotate 150s linear infinite;
    filter: brightness(110%) contrast(110%);
    width: 520px;
    height: 520px
}



@keyframes rotate {
    0% { transform: rotate(0deg); }
    100%   { transform: rotate(360deg); }
}

@media screen and (max-width: 1400px) {
    .beneficiosFlex {
        gap: 8em;
        margin-top: 2em;
        padding: 0 6em;
    }

    .beneficiosImg img {
        width: 460px;
        height: 460px;
    }

}

@media screen and (max-width: 900px) {

    .beneficiosContainer {
        height: 100%;
    }

    .beneficiosFlex {
        flex-direction: column;
        padding: 0 2em;
        gap: 28em;
        margin-top: 2em;
        align-items: center;
    }

    .beneficiosImg img {
        width: 250px;
        height: 250px;
        margin-bottom: 2em;
    }
}