.btn {
    background: none;
    border: 2px solid;
    font-size: 18px;
    padding: 0.6em 2em;
    cursor: pointer;
    transition: 0.6s;
    border-radius: 10px;
}

.btn:hover {
    background-color: rgb(156, 255, 110);
}