.contatoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: linear-gradient(141deg, #94ff7f 0%, rgba(150,255,243,1) 40%, rgb(100, 183, 255) 100%);;
}

.contatoFlex {
    display: flex;
    justify-content: space-between;
    gap: 10em;
    padding: 0 8em;
    margin-top: 2em;
}

.contatoText {
    margin-top: 4em;
}

.contatoText h1 {
    font-size: 44px;
    margin-bottom: 1em;
}

.contatoText h2 {
    margin-bottom: 2em;
    font-weight: 300;
    font-size: 22px;
}

.contatoText button {
    margin-right: 2em;
}
