.depoimentosContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: linear-gradient(141deg, #fff 0%, rgba(150, 255, 243, 1) 60%, rgb(100, 183, 255) 100%);
}

.depoimentosFlex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4em;
    padding: 0 8em;
}

.depoimentosFlex div {
    background: linear-gradient(148deg, rgba(158, 219, 255, 1) 0%, rgba(198, 255, 165, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 430px;
    border-radius: 20px;
    position: relative;
    padding: 0 2em;
}

.depoimentosFlex h1 {
    margin-top: 2.5em;
    font-size: 36px;
}

.depoimentosFlex h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 1.5em;
}


.depoimentosFlex img {
    width: 160px;
    border-radius: 50%;
    position: absolute;
    top: -80px;
    margin-left: -80px;
}

.depoimentosEmpresas {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.depoimentosEmpresas img {
    width: 150px;
}

@media screen and (max-width: 1400px) {
    .depoimentosFlex {
        margin-top: 2em;
        padding: 0 6em;
    }

    .depoimentosFlex div {
        width: 260px;
        height: 320px;
    }

    .depoimentosFlex h1 {
        font-size: 22px;
    }
    
    .depoimentosFlex h2 {
        font-size: 13px;
        margin-bottom: 0.6em;
    }

    .depoimentosFlex p {
        font-size: 14px;
    }

    .depoimentosFlex img {
        width: 100px;
        top: -50px;
        margin-left: -50px;
    }

    .depoimentosEmpresas {
        gap: 30px;
    }

    .depoimentosEmpresas img {
        width: 80px;
    }

}

@media screen and (max-width: 900px) {

    .depoimentosContainer {
        height: 100%;
    }

    .depoimentosFlex {
        margin-top: 2em;
        padding: 0 2em;
        flex-direction: column;
        margin-top: 6em;
        gap: 8em;
    }

    .depoimentosEmpresas {
        gap: 30px;
        flex-wrap: wrap;
        margin: 3em 0;
    }

}
