.flipContainer {
    cursor: pointer;
    width: 800px;
    height: min-content;
}

.flip {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flipped {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.flipFront,
.flipBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flipBack img {
    width: 800px;
}

.flipBack {
    transform: rotateY(180deg);
}

.flipFront h1 {
    font-size: 44px;
    margin-bottom: 1em;
}

.flipFront p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 1em;
}
