.footerContainer {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerContainer p {
    font-weight: 600;
}

@media screen and (max-width: 900px) {
    .footerContainer p {
        font-size: 14px;
    }
}
