.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 42em
}

.formContainer h1 {
    margin-bottom: 0.6em;
    font-size: 40px
}

.formContainer label p {
    font-size: 26px;
    font-weight: bold;
}

.formContainer .btn {
    background: none;
    border: 2px solid;
    font-size: 18px;
    padding: 0.6em 2em;
    cursor: pointer;
    transition: 0.6s;
    border-radius: 10px;
    margin-top: 6px;
    width: 8em;
}

.formContainer .btn:hover {
    background-color: rgb(156, 255, 110);
}

@media screen and (max-width: 1400px) {
    .formContainer h1 {
        font-size: 36px;
        margin-bottom: 0;
    }

    .formContainer label p {
        font-size: 22px;
    }
}

@media screen and (max-width: 900px) {
    .formContainer {
        width: 100%;
        margin-bottom: 1em;
    }
}