.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 42em
}

.formContainer h1 {
    margin-bottom: 0.6em;
    font-size: 40px
}

.formContainer label p {
    font-size: 26px;
    font-weight: bold;
}

.formContainer textarea {
    resize: none;
    outline: none;
    padding: 0.5em 1em;
    font-size: 16px;
    height: 163px;
    border: 2px solid #050044;
    background-color: transparent;
    border-radius: 10px;
    margin: 1em 0;
    width: 100%;
}

.formContainer .btn {
    background: none;
    border: 2px solid;
    font-size: 18px;
    padding: 0.6em 2em;
    cursor: pointer;
    transition: 0.6s;
    border-radius: 10px;
    margin-top: 3px;
    width: 8em;
}

.formContainer .btn:hover {
    background-color: rgb(156, 255, 110);
}

@media screen and (max-width: 1400px) {

    .formContainer {
        width: 30em
    }

    .formContainer h1 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .formContainer label p {
        font-size: 18px;
    }

    .formContainer textarea {
        height: 100px;
    }

}

@media screen and (max-width: 900px) {
    .formContainer {
        width: 100%;
        margin-bottom: 1em;
    }
}