.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 42em
}

.formContainer h1 {
    font-size: 40px;
    margin-bottom: 0.5em;
    width: 500px;
}

.formContainer label {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
}

.formContainer input {
    margin: 1em 0;
    padding: 0.5em 1em;
    outline: none;
    font-size: 16px;
    border: 2px solid #050044;
    background-color: #f0f8ff;
}

.formContainer textarea {
    resize: none;
    outline: none;
    padding: 0.5em 1em;
    font-size: 16px;
    height: 200px;
    border: 2px solid #050044;
    background-color: #f0f8ff;
}

.formContainer .btn {
    background: none;
    border: 2px solid;
    width: 8em;
    font-size: 18px;
    padding: 0.6em 2em;
    cursor: pointer;
    transition: 0.6s;
    position: relative;
    z-index: 1;
}

