.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: linear-gradient(141deg, #94ff7f 0%, rgba(150,255,243,1) 60%, rgb(132, 197, 255) 100%);
    color: #050044;
}

.homeFlex {
    display: flex;
    justify-content: space-between;
    gap: 200px;
    margin-top: 4em;
    padding: 0 8em;
}

.homeText h1 {
    font-size: 44px;
    margin-bottom: 1em;
}

.homeText p {
    font-size: 18px;
    margin-bottom: 3em;
}

.homeText button {
    font-size: 24px;
    padding: 0.5em 2em;
    border-radius: 20px;
    cursor: pointer;
    background: linear-gradient(141deg, #0300b1 0%, #050044 100%);
    border: none;
    color: #fff;
}

.homeImg img {
    width: 600px;
}