.labelContainer label {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
    border-radius: 26px;

}

.labelContainer p {
    font-weight: bold;
    font-size: 26px;
}

.labelContainer input {
    margin: 1em 0;
    padding: 0.5em 1em;
    outline: none;
    font-size: 16px;
    border: 2px solid #050044;
    background-color: transparent;
    border-radius: 10px;
    width: 100%;
}
