.navbarContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    padding: 0 8em;
    transition: 0.4s ease-in-out;
}

.navbarContainer ul {
    display: flex;
    gap: 4em;
    list-style: none;
}

.navbarContainer li {
    font-weight: 600;
    font-size: 22px;
    position: relative;
}

.navbarContainer li::before {
    content: "";
    width: 0;
    height: 3px;
    background-color: #050044;
    position: absolute;
    bottom: 6px;
    left: 0;
    transition: 0.4s ease-in-out;
}

.navbarContainer li:hover::before {
    width: 100%;
}

.logo img {
    margin-top: 1.4em;
    cursor: pointer;
    
}
