.objetivoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: linear-gradient(141deg, #fff 0%, rgba(150,255,243,1) 60%, rgb(100, 183, 255) 100%);
}

.objetivoFlex {
    display: flex;
    justify-content: space-between;
    gap: 12em;
    margin-top: 6em;
    padding: 0 8em;
}

.objetivoImg {
    width: 600px;
    height: 550px;
}

.objetivoImg img {
    filter: brightness(110%) contrast(110%);
    width: 600px;
    transition: 1s;
}

.objetivoImg img:hover {
    width: 624px;
}

.objetivoCitação p {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0.6em;
}

.objetivoCitação span {
    font-style: italic;
    font-size: 24px;
}