.objetivoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: linear-gradient(141deg, #fff 0%, rgba(150,255,243,1) 60%, rgb(100, 183, 255) 100%);
}

.objetivoFlex {
    display: flex;
    justify-content: space-between;
    gap: 12em;
    margin-top: 6em;
    padding: 0 8em;
}

.objetivoImg img {
    filter: brightness(105%) contrast(110%);
}
