.textContainer h1 {
    font-size: 44px;
    margin-bottom: 1em;
}

.textContainer p {
    font-size: 22px;
    margin-bottom: 2em;
    font-weight: 300;
}

@media screen and (max-width: 1400px) {
    .textContainer h1 {
        font-size: 40px;
    }

    .textContainer p {
        font-size: 20px;
    }

}

@media screen and (max-width: 900px) {
    .textContainer h1 {
        font-size: 28px;
    }

    .textContainer p {
        font-size: 18px;
    }

}